Hello people, here is me:
When creating this readme file, which is early 2016, I have 4-5 months of programming experience with Python.
I also got to know little bit of C# and JavaScript, but my main language is Python, I picked Python in order to
learn the key ideas about programming, rather than getting confused with tricky Syntax of most languages.

I like the idea of being able to create. Maybe I'm not the most creative guy, but I'm working on it. :)
Also creating software or games is affordable, I can start from scratch, with only me and my computer, I love that.
I study game programming, but we haven't had any programmin lessons yet, first is within 1 week from now.
I'm really looking forward to it!


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
